In [39]:
# Dependencies
import pymongo
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser

In [40]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [41]:
#print(soup.prettify())

In [42]:
#Y_results = soup.find_all('div', class_='image_and_description_container')
results = soup.body.find_all('div', class_='content_title')

In [43]:
# NO _ results = soup.body.find_all('div', class_='article_teaser_body')
# NO _ results = soup.body.find_all('div', class_='list_text')

In [44]:
print(results)#print(results)

[<div class="content_title">
<a href="/news/8308/a-piece-of-mars-is-going-home/">
A Piece of Mars is Going Home
</a>
</div>, <div class="content_title">
<a href="/news/8307/mars-reconnaissance-orbiter-preparing-for-years-ahead/">
Mars Reconnaissance Orbiter Preparing for Years Ahead
</a>
</div>, <div class="content_title">
<a href="/news/8305/tiny-crystal-shapes-get-close-look-from-mars-rover/">
Tiny Crystal Shapes Get Close Look From Mars Rover
</a>
</div>, <div class="content_title">
<a href="/news/8304/nasa-tests-atomic-clock-for-deep-space-navigation/">
NASA Tests Atomic Clock for Deep Space Navigation
</a>
</div>, <div class="content_title">
<a href="/news/8303/mount-sharp-photobombs-mars-curiosity-rover/">
Mount Sharp 'Photobombs' Mars Curiosity Rover
</a>
</div>, <div class="content_title">
<a href="/news/8299/dust-storms-linked-to-gas-escape-from-mars-atmosphere/">
Dust Storms Linked to Gas Escape from Mars Atmosphere
</a>
</div>]

In [45]:
titles = []

for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        title = result.find('a').text
        t = title.strip('\n')
        titles.append(t)

    except Exception as e:
        print(e)

In [46]:
target_title = titles[0]
target_title

'A Piece of Mars is Going Home'

In [47]:
tease = soup.find('div', class_='rollover_description_inner').text

In [48]:
tease

"\nWhen it launches in 2020, NASA's next Mars rover will carry a chunk of Martian meteorite on board.\n"

In [49]:
teaser = tease.replace('\n', '')
teaser

"When it launches in 2020, NASA's next Mars rover will carry a chunk of Martian meteorite on board."

# DONE - Finish cleaning titles list

In [11]:
# URL of page to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [12]:
#print(soup.prettify())

In [13]:
results = soup.body.find_all('article', class_='carousel_item')

In [14]:
pic_loc = soup.article['style']

pic_loc

"background-image: url('/spaceimages/images/wallpaper/PIA17009-1920x1200.jpg');"

In [15]:
len(pic_loc)

78

In [16]:
pic_link = pic_loc.split(' ')[1].rstrip(';')

len(pic_link)

59

In [17]:
clean_link = pic_link[5:57]

clean_link

'/spaceimages/images/wallpaper/PIA17009-1920x1200.jpg'

In [18]:
root_url = 'https://www.jpl.nasa.gov'

In [19]:
full_pic_link = root_url + clean_link

In [20]:
full_pic_link

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17009-1920x1200.jpg'

# DONE - featured picture link isolated

In [21]:
# URL of page to be scraped
url = 'https://twitter.com/marswxreport?lang=en'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [22]:
#print(soup.prettify())

In [23]:
results = soup.body.find('div', class_='js-tweet-text-container')

In [24]:
print(results)

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Happy Valentines day from Mars. This 2km wide heart-shaped pit was created by a surface drop caused by expansion along a fault-line Credit: Malin Space Science Systems, MGS, JPL, NASA<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/2ybbmSqNi4">pic.twitter.com/2ybbmSqNi4</a></p>
</div>

In [25]:
mars_weather = results.find('p', class_='TweetTextSize').text

print(mars_weather)

Happy Valentines day from Mars. This 2km wide heart-shaped pit was created by a surface drop caused by expansion along a fault-line Credit: Malin Space Science Systems, MGS, JPL, NASApic.twitter.com/2ybbmSqNi4

# DONE - weather scrape

In [26]:
url = 'https://space-facts.com/mars/'

In [27]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [28]:
facts_df = tables[0]
facts_df.columns = ['Desc.', 'Value']
facts_df

                  Desc.                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [29]:
facts_df.set_index('Desc.', inplace=True)
facts_df

                                              Value
Desc.
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [30]:
facts_tb = facts_df.to_html()

In [65]:
facts = facts_tb.replace('\n', '')

In [66]:
facts

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Desc.</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# DONE - html string

In [60]:
executable_path = {'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [61]:
hemisphere_image_urls = []

for i in range(1, 5):
    
    browser.click_link_by_partial_text('Hemisphere Enhanced')

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    #print(soup)
    image = soup.find_all('img', class_='wide-image')
    title = soup.find('h2', class_='title').text
    
    title_img = {}
    
    for item in image:
        
        images = item['src']
        root = 'https://astrogeology.usgs.gov'
        link = root + images
        title_img['title'] = title
        title_img['link']= link
        hemisphere_image_urls.append(title_img)

In [62]:
hemisphere_image_urls

[{'link': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'link': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'},
 {'link': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'link': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [69]:
mars_data = {}
# populate mars data dictionary with scraped items
mars_data['news_title'] = target_title
mars_data['news_teaser'] = teaser
mars_data['feature_pic'] = full_pic_link
mars_data['weather'] = mars_weather
mars_data['hem_pics'] = hemisphere_image_urls
mars_data['mars_facts'] = facts

In [70]:
mars_data

{'feature_pic': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17009-1920x1200.jpg',
 'hem_pics': [{'link': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'link': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'},
  {'link': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'link': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}],
 'mars_facts': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Desc.</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
 'news_teaser': "When it launches in 2020, NASA's next Mars rover will carry a chunk of Martian meteorite on board.",
 'news_title': 'A Piece of Mars is Going Home',
 'weather': 'Happy Valentines day from Mars. This 2km wide heart-shaped pit was created by a surface drop caused by expansion along a fault-line Credit: Malin Space Science Systems, MGS, JPL, NASApic.twitter.com/2ybbmSqNi4'}